<h1>Home Page</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 ">
                <form>
                        <div id="contact-form" class="form-container" data-form-container>
                            <div class="row">
                                <div class="form-title">
                                    <span>Wanna Send Something?</span>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                        <input type="text" data-min-length="8" placeholder="Full Name">
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                        <input type="email" placeholder="Email">
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Phone Number."> </span>
                                        <input type="tel" placeholder="Phone Number">
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="req-input message-box">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Include a Message."> </span>
                                        <textarea type="textarea" data-min-length="10" placeholder="Message"></textarea>
                                    </span>
                                </div>
                                <div class="row submit-row">
                                    <button type="button" class="btn  submit-form">Send</button>
                                </div>
                            </div>
                        </div>
                </form>
        </div>
        <div class="col-md-6 col-sm-12">
                <form>
                        <div id="contact-form" class="form-container" data-form-container>
                            <div class="row">
                                <div class="form-title">
                                    <span>Wanna Transfer Something?</span>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                        <input type="text" data-min-length="8" placeholder="Full Name">
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                        <input type="email" placeholder="Email">
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Phone Number."> </span>
                                        <input type="tel" placeholder="Phone Number">
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="req-input message-box">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Include a Message."> </span>
                                        <textarea type="textarea" data-min-length="10" placeholder="Message"></textarea>
                                    </span>
                                </div>
                                <div class="row submit-row">
                                    <button type="button" class="btn submit-form">Transfer</button>
                                </div>
                            </div>
                        </div>
                </form>   
        </div>       
    </div>
</div>