<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/home"><img style="height: 45px;	width: 120px;" src="assets/images/logo6-img.png" alt="Dispute Bills"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li *ngIf = "authService.getUserName()" class="nav-item">
          <a routerLink="/mypackages" class="nav-link text-white" href="#">My Packages <span class="sr-only"></span></a>
        </li>
      </ul>
      
      <form *ngIf = "authService.getUserName()" class="form-inline">
        <h3> welcome {{authService.getUserName()}}</h3>
        <button (click) = "logout()" type="button" data-toggle="tooltip" title="Logout" data-placement="left" class="material-icons btn btn-link btn-lg" id="button1">power_settings_new</button>  
      </form>
      <form *ngIf = "!authService.getUserName()" class="form-inline">
          <a routerLink="/login" class="nav-link text-white" href="#">Login<span class="sr-only"></span></a>  
      </form>
    </div>
  </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>





